<!--
<div class="center">
    <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>

    <h5 class="green-text center">Always Updating</h5>
    <p class="green-text center">Our servers are gathering the latest data for your viewing pleasures</p>
</div>-->
<style type="text/css">
<!--
    nav {
      background-color: #008150; /*original: #ee6e73*/
    }

    .lineHeader {
        background-image: url("images/greenLine.jpg");
        background-position: 0% 40%;
    }
                    
    .tabs {
        width: 100%;
    }

    .tabs .tab a {
      color: #008150;
      font-weight:500;
      font-size:20px;
    }

    .tabs .tab a:hover {
      color: #fff;
      background-color:#008150;
    }

    .tabs .tab.disabled a {
      color: #f9c9cb;
      cursor: default;
    }

    .tabs .indicator {
      position: absolute;
      bottom: 0;
      height: 4px;
      background-color: #008150;
      will-change: left, right;
    }

    .schedule .station {
        background-color: #008150;
    }
-->
</style>

<div class="lineHeader">
    <h2>Green Line</h2>
</div>

<div class="row" style="margin-bottom: 0px;">
    <ul class="tabs">
        <li class="tab col s3"><a href="#b">B</a></li>
        <li class="tab col s3"><a href="#c">C</a></li>
        <li class="tab col s3"><a href="#d">D</a></li>
        <li class="tab col s3"><a href="#e">E</a></li>
    </ul>
</div>

<div class="row directions">
    <div class="container">
        <div class="col s6" style="text-align: left !important;">
            <i class="fa fa-arrow-up"></i>&nbsp;&nbsp;Outbound
        </div>

        <div class="col s6" style="text-align: right !important;">
            Inbound&nbsp;&nbsp;<i class="fa fa-arrow-down"></i>
        </div>
    </div>
</div>

<div class="row schedule" ng-repeat="station in schedule">
    <div class="container">
        <div class="col l4 m3 s3 time" style="text-align: left;">
            <div ng-if="station.outbound == -1">
                <i class="fa fa-subway fa-2x"></i>
            </div>
            <div ng-if="station.outbound == 0">
                &dash;
            </div>
            <div ng-if="station.outbound > 0">
                {{ station.outbound * 1000 | date:"h:mma" }}
            </div>
        </div>

        <div class="col l4 m6 s6 station">
            {{ station.name }}
        </div>

        <div class="col l4 m3 s3 time" style="text-align: right;">
            <div ng-if="station.inbound == -1">
                <i class="fa fa-subway fa-2x"></i>
            </div>
            <div ng-if="station.inbound == 0">
                &dash;
            </div>
            <div ng-if="station.inbound > 0">
                {{ station.inbound * 1000 | date:"h:mma" }}
            </div>
        </div>
    </div>
</div>