<style type="text/css">
<!--
    nav {
      background-color: #FA2D27; /*original: #ee6e73*/
    }

        .lineHeader {
            background-image: url("images/redLine.jpg");
            background-position: 0% 50%;
        }
                    
        .lineHeader h2 {
            background:rgba(250, 45, 39,0.7);
        }

    .tabs {
        width: 100%; 
    }

    .tabs .tab a {
      color: #FA2D27;
      font-weight: 500;
      font-size: 20px;
    }

    .tabs .tab a:hover {
      color: #fff;
      background-color: #FA2D27;
    }

    .tabs .indicator {
      position: absolute;
      bottom: 0;
      height: 4px;
      width: 49.99%;
      background-color: #FA2D27;
      will-change: left, right;
    }

    .schedule .station {
        background-color: #FA2D27;
    }
-->
</style>

<div class="lineHeader">
    <h2>Red Line</h2>
</div>

<div class="row" style="margin-bottom: 0px;">
    <ul class="tabs">
        <li class="tab col s3"><a href="#ashmont">ASHMONT</a></li>
        <li class="tab col s3"><a href="#braintree">BRAINTREE</a></li>
    </ul>
</div>

<div class="row directions">
    <div class="container">
        <div class="col l4 m4 s5">
            <i class="fa fa-arrow-up"></i> Outbound <i class="fa fa-arrow-up"></i>
        </div>

        <div class="col l4 m4 s2">&nbsp;</div>

        <div class="col l4 m4 s5">
            <i class="fa fa-arrow-down"></i> Inbound <i class="fa fa-arrow-down"></i>
        </div>
    </div>
</div>

<div class="row schedule" ng-repeat="station in schedule">
    <div class="container">
        <div class="col l4 m3 s3 time">
            <div ng-if="station.outbound == -1">
                <i class="fa fa-subway fa-2x"></i>
            </div>
            <div ng-if="station.outbound == 0">
                &dash;
            </div>
            <div ng-if="station.outbound > 0">
                {{ station.outbound * 1000 | date:"h:mma" }}
            </div>
        </div>

        <div class="col l4 m6 s6 station">
            {{ station.name }}
        </div>

        <div class="col l4 m3 s3 time">
            <div ng-if="station.inbound == -1">
                <i class="fa fa-subway fa-2x"></i>
            </div>
            <div ng-if="station.inbound == 0">
                &dash;
            </div>
            <div ng-if="station.inbound > 0">
                {{ station.inbound * 1000 | date:"h:mma" }}
            </div>
        </div>
    </div>
</div>